* {
    margin: 0px;
    padding: 0px;
}
a {
    color: #D93D62;
    text-decoration: none;
}

a:hover {
    color:#D93D62; 
    text-decoration:none; 
    cursor:pointer;  
}
a:active {
    color: #D93D62;
}
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #211D1C;

    align-content: center;
    align-items: center;
    justify-content: center;
}
#logo {
    display: flex;
    align-items: center;
    padding: 10px 160px;

}
#logo p{
    color: white;
    font-size: 36px;
}

#logo img {
    margin: 0 15px 0 15px;
}

#linksLogin {
    display: flex;
    justify-self: right;
    align-self: right;
}


#linksLogin p {
    font-size: 16px;
}

.linhaRosa {
    height: 5px;
    width: 100%;

    background-color: #D93D62;
}

.linkBotao {
    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: center;

    background-color: #DDDDDB;
    width: 100px;
    height: 25px;    
    
    margin: 15px;

}
.linkBotao:hover{
    background-color: #211D1C;
    color:#D93D62;
    border: 0.5px solid #D93D62;
}

.carrousel {
    position: relative;
    z-index: 1;
    
    height: 500px;
    background-image: url("/images/jiujitsu.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

.carrousel-item {
    color: white;
    position: relative;
    top: -60%;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    z-index: 3;
}
.carrousel-item  h1 {
    font-weight: bolder;
    font-size: 40px;
    margin: 15px;
}


.carrousel-sombra {
    position: relative;
    top: 0px;

    z-index: 2;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 85%;
}
.titulos {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;

    margin: 15px;
}

.titulos2 {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin: 15px;
}

.showcase1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px 40px 10px 40px;
    padding:15px; 
}
.informacoes {
    text-align: center;
    font-size: 20px;
}

.showcase2 {
    background-color: #211D1C;
    height: 530px;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}
.showcase2 div:first-of-type {
    flex: 2;
    color: white;
    padding: 10px;
}

.showcase2 div:first-of-type p{
    text-align: center;
    display: inline-block;
}
.showcase2 div img {
    width: 100%;
    height: 530px;
}
.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}  

.about-us div{
    width: 500px;
    padding: 10px;
}

.about-us div p{
    text-align: justify;
}

.login {
    background-color: #211D1C;
    height: 400px;
    margin: 80px 20% 0% 20%;
    color: white;
}
.login h1 {
    color: white;
    padding: 15px;
}
.container {   
    padding: 25px;    
}   
/*
.login input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid#D93D62;;   
    box-sizing: border-box;   
}  
.login button {   
    background-color: #DDDDDB;   
    width: 100%;  
     color: black;   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
} 
.login button:hover {   
    opacity: 0.7;   
} 
*/
.cancelbtn {   
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px;  
}

.cadastro {
    background-color: #211D1C;
    height: 600px;
    margin: 80px 20% 0% 20%; 
}

.cadastro h1 {
    color: white;
    padding: 15px;
    text-align: center;
}

input[type=text], input[type=password], input[type=email] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid#D93D62;;   
    box-sizing: border-box;   
}

input[type=submit] {
    background-color: #DDDDDB;   
    width: 100%;  
    color: black;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;   
}

input[type=submit]:hover {
    opacity: 0.75;
}

label {
    color: white;
    margin-left: 10px;
}

button {   
    background-color: #DDDDDB;   
    width: 100%;  
     color: black;   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
} 
button:hover {   
    opacity: 0.7;   
} 

.link {
    color: white;
    text-align: center;
}